@using WildlifeProject.Model
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@model WildlifeProject.Model.Animal

@{
    ViewData["Title"] = "CreateAnimal";
}

<h1>CreateAnimal</h1>

<h4>Animal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" method="post" asp-action="AddAnimal" class="container">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AnimalId" class="control-label"></label>
                <input asp-for="AnimalId" class="form-control" />
                <span asp-validation-for="AnimalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
            </div>

            <label asp-for="CategoryId" class="control-label">CategoryId</label>
            <input asp-for="CategoryId" class="form-control" />
            <span asp-validation-for="CategoryId" class="text-danger"></span>

            @*            <label asp-for="CategoryId" class="control-label">Category</label>
            <select asp-items="@((Html.GetEnumSelectList<CategoryEnum>()))" data-val="true" required name="catagorySelect" class="form-control" id="CategoryId" asp-for="CategoryId">
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>*@
            <div class="form-group">
                <label asp-for="ConservationStatus" class="control-label">Conservation Status:</label>
                <input asp-for="ConservationStatus" class="form-control" />
                <span asp-validation-for="ConservationStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label">Image File:</label>
                <input type="file" name="Image" id="Imageinput" class="btn btn-primary">
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



